<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body style="background-color: bisque">
{#{% if student %}#}
{#    {% for s in student %}#}
{#        <h2>{{ s.name }}</h2>#}
{#        <h2>{{ s.address }}</h2>#}
{#        <h2>{{ s.mail }}</h2>#}
{#        <h2>{{ s.age }}</h2>#}
{#    {% endfor %}#}
{#    {% else %}#}
{#    <h2> No student details</h2>#}
{#{% endif %}#}
<div class="container">
    {% if student%}
<table class="table table-bordered">
    <thead>
    <th>Name</th>
    <th>Age</th>
    <th>Address</th>
    <th>Mail</th>
</thead>
{% for s in student %}
    <tr>
    <td>{{ s.name }}</td>
    <td>{{ s.age }}</td>
    <td>{{ s.mail }}</td>
    <td>{{ s.address }}</td>
    </tr>
{% endfor %}
</table>
{% endif %}
</div>

</body>
</html>